<div class="flex justify-around text-lg p-4 border-b-black border-b-2">
  <div>Flight: #
    <%= flight.id %>
  </div>
  <div>Date:
    <%= flight.departure_date_formatted %>
  </div>
  <div>Departing at:
    <%= flight.departure_time_formatted %>
  </div>
  <div>Arriving at:
    <%= flight.arrival_time_formatted %>
  </div>
</div>