<div>
  <div>
    Departing from:
    <%= flight.origin %>
  </div>
  <div>
    Arriving at: 
    <%= flight.destination %>
  </div>
  <div>
    Departure Date: 
    <%= flight.departure_date_formatted %>
    Departure Time: 
    <%= flight.departure_time_formatted %>
  </div>
</div>